$font-stack: Helvetica, sans-serif;
$primary-color: #30425a;
$text-color: #fefcf9;

$primero: #ffd385;
$segundo: #36fffc;
$tercero: #ffe143;
$cuarto: #bcff48;
$quinto: #54ff7c;

body {
  font: 100% $font-stack;
  background-color: $primero;
}

ion-list{
  background-color: $primero;
}

.blue {
    font: 100% $font-stack;
    background-color: $primero;
  }

ion-card {
    box-shadow: none;
}

ion-card-title, ion-card-subtitle{
    color: $text-color;
}

.text-input{
    background: $primero;
}

ion-accordion {
  margin: 0 auto;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);

  margin: 16px auto;
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
  --background: var(--ion-color-light);
  --color: var(--ion-color-light-contrast);
}

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}